**Раздел 1**

In [1]:
#импорт начальных библиотек
import pandas as pd
import os

In [ ]:
#выбор папки
os.chdir('/content/drive/MyDrive/datasets')

In [ ]:
#загрузка датасета
df = pd.read_csv('var_2.csv', sep=';')
df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [ ]:
#выясняем общую информацию и размерность датасета
df.size

9350

In [ ]:
df.shape

(170, 55)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 55 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Atr1    170 non-null    int64
 1   Atr2    170 non-null    int64
 2   Atr3    170 non-null    int64
 3   Atr4    170 non-null    int64
 4   Atr5    170 non-null    int64
 5   Atr6    170 non-null    int64
 6   Atr7    170 non-null    int64
 7   Atr8    170 non-null    int64
 8   Atr9    170 non-null    int64
 9   Atr10   170 non-null    int64
 10  Atr11   170 non-null    int64
 11  Atr12   170 non-null    int64
 12  Atr13   170 non-null    int64
 13  Atr14   170 non-null    int64
 14  Atr15   170 non-null    int64
 15  Atr16   170 non-null    int64
 16  Atr17   170 non-null    int64
 17  Atr18   170 non-null    int64
 18  Atr19   170 non-null    int64
 19  Atr20   170 non-null    int64
 20  Atr21   170 non-null    int64
 21  Atr22   170 non-null    int64
 22  Atr23   170 non-null    int64
 23  Atr24   170 non-null    int64
 24  Atr25   170 non-null    int64
 25  Atr26   170 non-null    int64
 26  Atr27   170 non-null    int64
 27  Atr28   170 non-null    int64
 28  Atr29   170 non-null    int64
 29  Atr30   170 non-null    int64
 30  Atr31   170 non-null    int64
 31  Atr32   170 non-null    int64
 32  Atr33   170 non-null    int64
 33  Atr34   170 non-null    int64
 34  Atr35   170 non-null    int64
 35  Atr36   170 non-null    int64
 36  Atr37   170 non-null    int64
 37  Atr38   170 non-null    int64
 38  Atr39   170 non-null    int64
 39  Atr40   170 non-null    int64
 40  Atr41   170 non-null    int64
 41  Atr42   170 non-null    int64
 42  Atr43   170 non-null    int64
 43  Atr44   170 non-null    int64
 44  Atr45   170 non-null    int64
 45  Atr46   170 non-null    int64
 46  Atr47   170 non-null    int64
 47  Atr48   170 non-null    int64
 48  Atr49   170 non-null    int64
 49  Atr50   170 non-null    int64
 50  Atr51   170 non-null    int64
 51  Atr52   170 non-null    int64
 52  Atr53   170 non-null    int64
 53  Atr54   170 non-null    int64
 54  Class   170 non-null    int64
dtypes: int64(55)
memory usage: 73.2 KB

In [ ]:
df.describe()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000
mean,1.776471,1.652941,1.764706,1.482353,1.541176,0.747059,0.494118,1.452941,1.458824,1.576471,...,2.552941,2.270588,2.741176,2.382353,2.429412,2.476471,2.517647,2.241176,2.011765,0.494118
std,1.627257,1.468654,1.415444,1.504327,1.632169,0.904046,0.898698,1.546371,1.557976,1.421529,...,1.371786,1.586841,1.137348,1.511587,1.405090,1.260238,1.476537,1.505634,1.667611,0.501442
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,...,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,0.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000

In [ ]:
#проверяем сбалансированность target-переменной
df.groupby('Class').size()

**Раздел 2**

In [ ]:
#импорт 5 моделей классификации
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [ ]:
from sklearn.model_selection import KFold, cross_val_score, cross_val_predict
from sklearn.model_selection import train_test_split

In [ ]:
df['Class'] = df['Class'].astype('category')

In [ ]:
#перекодировка
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

In [ ]:
df.Class.dtype

dtype('int8')

In [ ]:
#выделяем features и target-переменную (способ №1)
array = df.values
x = array[:, 0:54]
y = array[:, 54]

In [ ]:
x.shape

(170, 54)

In [ ]:
y.shape

(170,)

In [ ]:
#выделяем features и target-переменную (способ №2)
X = df.loc[:,'Atr1':'Atr54']
Y = df.Class

In [ ]:
X.shape

(170, 54)

In [ ]:
Y.shape

(170,)

In [ ]:
kfold = KFold(n_splits=5, random_state=17, shuffle=True)

In [ ]:
#использование моделей поодиночке
model_knn = KNeighborsClassifier()
results_knn = cross_val_score(model_knn, X, Y, cv=kfold, scoring='accuracy')
print(results_knn.mean())

0.9764705882352942

In [ ]:
model_nb = GaussianNB()
results_nb = cross_val_score(model_nb, X, Y, cv=kfold, scoring='accuracy')
print(results_nb.mean())

0.9529411764705882

In [ ]:
model_dt = DecisionTreeClassifier()
results_dt = cross_val_score(model_dt, X, Y, cv=kfold, scoring='accuracy')
print(results_dt.mean())

0.9411764705882352

In [ ]:
model_lr = LogisticRegression(solver='liblinear')
results_lr = cross_val_score(model_lr, X, Y, cv=kfold, scoring='accuracy')
print(results_lr.mean())

0.9705882352941175

In [ ]:
model_svc = SVC()
results_svc = cross_val_score(model_svc, X, Y, cv=kfold, scoring='accuracy')
print(results_svc.mean())

0.9764705882352942

In [ ]:
#ансамбли моделей
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier
from xgboost import XGBClassifier

In [ ]:
model = BaggingClassifier(base_estimator=model_dt, n_estimators=100, random_state=7)
results_bag = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
print(results_bag.mean())

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.9764705882352942

In [ ]:
model = RandomForestClassifier(n_estimators=100, max_features=4)
results_rf = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
print(results_rf.mean())

0.9764705882352942

In [ ]:
model = AdaBoostClassifier(n_estimators=100, random_state=7)
results_ada = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
print(results_ada.mean())

0.9588235294117646

In [ ]:
model = GradientBoostingClassifier(n_estimators=100, random_state=7)
results_gb = cross_val_score(model, X, Y, cv=kfold, scoring='accuracy')
print(results_gb.mean())

0.9470588235294117

In [ ]:
model = XGBClassifier(seed=7, n_estimators=100, max_depth=6, learning_rate=0.3)
results_xgb = cross_val_score(model, X, Y, scoring='accuracy', cv=kfold)
print(results_xgb.mean())

0.9764705882352942

In [ ]:
estimators = []
estimators.append(('knn', KNeighborsClassifier()))
estimators.append(('nb', GaussianNB()))
estimators.append(('dt', DecisionTreeClassifier()))
estimators.append(('lr', LogisticRegression()))
estimators.append(('svc', SVC()))

In [ ]:
ensemble = VotingClassifier(estimators)

In [ ]:
results_vot = cross_val_score(ensemble, X, Y, scoring='accuracy', cv=kfold)
print(results_vot.mean())

0.9764705882352942

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=17)

In [ ]:
results = []
results.append(('knn', results_knn.mean()))
results.append(('nb', results_nb.mean()))
results.append(('dt', results_dt.mean()))
results.append(('lr', results_lr.mean()))
results.append(('svc', results_svc.mean()))
results.append(('bag', results_bag.mean()))
results.append(('rf', results_rf.mean()))
results.append(('ada', results_ada.mean()))
results.append(('gb', results_gb.mean()))
results.append(('xgb', results_xgb.mean()))
results.append(('vot', results_vot.mean()))

In [ ]:
results

[('knn', 0.9764705882352942),
 ('nb', 0.9529411764705882),
 ('dt', 0.9411764705882352),
 ('lr', 0.9705882352941175),
 ('svc', 0.9764705882352942),
 ('bag', 0.9764705882352942),
 ('rf', 0.9764705882352942),
 ('ada', 0.9588235294117646),
 ('gb', 0.9470588235294117),
 ('xgb', 0.9764705882352942),
 ('vot', 0.9764705882352942)]

In [ ]:
vot = ensemble.fit(X_train, Y_train)
vot_pred = ensemble.predict(X_test)

In [ ]:
#импорт метрик
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
confusion_matrix(Y_test, vot_pred)

array([[21,  0],
       [ 2, 11]])

In [ ]:
print(classification_report(Y_test, vot_pred))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95        21
           1       1.00      0.85      0.92        13

    accuracy                           0.94        34
   macro avg       0.96      0.92      0.94        34
weighted avg       0.95      0.94      0.94        34